/*.reveal section img{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  margin: 0px;
}

.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
}

.reveal pre{
  width: 100%;
  font-size: 0.51em;
}

.reveal pre code {
  font-size: 1.2em;
}

div.bigq {
 font-size: 200%;
 line-height: normal;
}

div.medq {
 font-size: 150%;
 line-height: normal;
}

.section .reveal .state-background {
  background: #000 none repeat scroll 0% 0%;
  background-color: #000;
}

.reveal h2 {
  line-height: 1em;
}


.section .reveal a{
  color: #008b4b;
}*/

.remark-slide-content {
  font-size: 27px;
}

.remark-slide-content {
  padding: 0em 2em 1em 2em;
}

.remark-slide-content h1 {
  margin: 0.5em 0em 0.5em 0em;
}

.smaller {
  font-size: 19px;
}

ul li { padding: 10px 0px; }
